*.txt
*/*.txt
libs
libs/*
ivy.jar
mspa.java
*.class
logs
joaje
bone.gif
rip.png
themage
zodiaclock
emily.png
kerpranked.png
cat
dog
pls.png
bans
why.png
cmdban
heavy.png
reeee.png
mortuigi.png
color.png
wall
*.log
logmsg
duck.png
eboi.png
